* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
body {
  background: black;
}
.container {
  min-height: 100dvh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card {
  align-items: center;
  width: 420px;
  padding: 40px;
  background: linear-gradient(#267c51d5, rgb(97, 146, 165), rgb(48, 160, 194));
  border-radius: 20px;
  text-align: center;
}
.search {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

.search input {
  border-radius: 20px;
  outline: 0px;
  border: 0px;
  margin-right: 18px;
  flex: 1;
  height: 50px;
  text-align: center;
  font-size: 16px;
  flex-shrink: 0;
}

.search button {
  border-radius: 50%;
  border: 0px;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.search button img {
  height: 30px;
  width: 30px;
}
.weather {
  margin-top: 40px;
  color: white;
}
.weather h1 {
  font-size: 80px;
}
.weather p {
  font-size: 30px;
}
.weather-info {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.weather img {
  width: 60px;
}
.col {
  display: flex;
  align-items: center;
  text-align: left;
}
.col img {
  width: 55px;
  margin-right: 10px;
}
.col p {
  font-size: 15px;
  margin-top: -6;
}
.col h2 {
  font-size: 19px;
}
.weather .weather-descrip {
  font-size: 20px;
  font-style: italic;
  margin-bottom: 8px;
  font-weight: bold;
}
.humidity,
.windspeed {
  margin-top: 15px;
  color: rgb(30, 132, 158);
  font-weight: bold;
}

.weather-container {
  display: none;
}
.pop-up {
  color: white;
  text-align: left;
  font-size: 11px;

  font-weight: bold;

  border-radius: 0px 0px 12px 12px;
  text-align: center;
  background-color: black;
}
.con {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
}
.warning-image {
  color: white;
  width: 25px;
  margin-right: 5px;
}
.shake {
  animation: shake 0.9s ease;
}
.h1 {
  font-size: 70px;
  color: white;
}

.loader {
  text-align: center;
  width: 100px;
  height: 100px;
  position: absolute;
  border: 10px solid rgb(255, 255, 255);
  border-top: 10px solid rgb(0, 0, 0);
  border-radius: 50%;
  animation: spin 0.5s linear infinite;
  display: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(10px);
  }
  20% {
    transform: translateX(-10px);
  }
  30% {
    transform: translateX(10px);
  }
  40% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  70% {
    transform: translateX(5px);
  }
  80% {
    transform: translateX(-5px);
  }
  90% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0);
  }
}
